@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --fonteMenu:'Anton', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: darkgray;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    position: absolute;
    right: 70vh;
    top: 12vh;
    list-style-type: none;
    font-size: 1.1em;  
    
}

a:hover {
    color: black;
    background-color: rgb(212, 212, 212);
}

img {
    padding-top: 30px;
    padding-left: 80px;
}

.capa {
    height: 400px;
    margin: 0px;
    background-image: url(_imagens/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.capa1 {
    height: 400px;
    margin: 0px;
    background-image: url(_imagens/carro01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.capa2 {
    height: 400px;
    margin: 0px;
    background-image: url(_imagens/carro02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section > p {
    position: absolute;
    top: 307px;
    right: 435px;
    font-size: 3em;
    font-family: var(--fonteMenu);
    color: white;
    text-shadow: 2px 2px 2px red;
}

